<style>
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins" , sans-serif;
    }
    body.top-padding {
	padding-top: 0;
}
    header, footer{
        display: none;
    }
    body{
        position: relative;
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
    }
</style>

<div class="dashboard_sidebar active">
    <div class="logo-content">
        <div class="logo">
            <!-- <i class='bx bxl-c-plus-plus'></i>
            <div class="logo-name">SHB Services</div> -->
            <div class="logo-name">
                <a href="/"><img src="/images/logo_light.png"></a>
            </div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search...">
            <span class="dash_tooltip">Search</span>
        </li>
        <li>
            <a href="/dashboard">
                <i class="bx bx-grid-alt"></i>
                <span class="links-name">Dashboard</span>
            </a>
            <span class="dash_tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/dashboard/products">
                <i class="bx bx-cart-alt"></i>
                <span class="links-name">Products</span>
            </a>
            <span class="dash_tooltip">Products</span>
        </li>
        <li>
            <a href="/dashboard/blogs">
                <i class='bx bxl-blogger' ></i>
                <span class="links-name">Blogs</span>
            </a>
            <span class="dash_tooltip">Blogs</span>
        </li>
        <li>
            <a href="/dashboard/sliders">
                <i class="bx bxs-layer"></i>
                <span class="links-name">Slider</span>
            </a>
            <span class="dash_tooltip">Slider</span>
        </li>
        <li>
            <a href="/dashboard/clients">
                <i class="bx bxs-group"></i>
                <span class="links-name">Clients</span>
            </a>
            <span class="dash_tooltip">Clients</span>
        </li>
        <li>
            <a href="/dashboard/testimonials">
                <i class="bx bxs-quote-left"></i>
                <span class="links-name">Testimonials</span>
            </a>
            <span class="dash_tooltip">Testimonials</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-folder"></i>
                <span class="links-name">File Manager</span>
            </a>
            <span class="dash_tooltip">File Manager</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-user"></i>
                <span class="links-name">User</span>
            </a>
            <span class="dash_tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links-name">Setting</span>
            </a>
            <span class="dash_tooltip">Setting</span>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="/images/Shahab.jpg" alt="">
                <div class="name-job">
                    <div class="name">Shahab</div>
                    <div class="job">Web Developer</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log-out"></i>
        </div>
    </div>
</div>
<div class="home-content">
    <div class="welcome-note"> 
        <p class="text">Welcome Shahab!</p>
        <span class="sub-title">Products</span>
    </div>

    <div class="shop-products">
        <div class="product-list">
            <div class="list-wrapper">
                <h3 class="px-3">All Products</h3>
                <table class="table cm-product-table">
                    <thead style="border-bottom: 2px solid currentColor;">
                        <tr>
                            <th>#</th>
                            <th>Thumb.</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.sort((a,b) => b.id - a.id).forEach((product, index) => { %>
                            <tr>
                                <td><%= index +1 %> </td>
                                <td><img src="<%= product.img %> " alt=""></td>
                                <td><%= product.title %> </td>
                                <td><%= product.price %> </td>
                                <td style="text-align: center">
                                    <a href="/shop/<%= product.id %> " class="btn btn-dash btn-info"><i class='bx bx-show' ></i></a>
                                    <a href="/dashboard/products/edit/<%= product.id %> " class="btn btn-dash btn-warning"><i class='bx bx-edit' ></i></a>
                                    <a class="btn btn-dash btn-delete btn-danger"><i class='bx bx-trash-alt'></i></a>
                                    <a class="delete-confirm" href="/dashboard/products/delete/<%= product.id %>"></a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="product-create">
            <h3>Update Product</h3>
            <form action="/dashboard/products/update/<%= proItem.id %>" method="POST" enctype="multipart/form-data">
                <div style="margin-top: 37px;">
                    <label>Product Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Title" value="<%= proItem.title %>">
                </div>
                <div>
                    <label>Product Price</label>
                    <input type="text" name="price" class="form-control" placeholder="Price" value="<%= proItem.price %>">
                </div>
                <div>
                    <label>Product Category</label>
                    <input type="text" name="category" class="form-control" placeholder="Category (Max - 1)" value="<%= proItem.cat %>">
                </div>
                <div>
                    <label>Product Tag</label>
                    <input type="text" name="tag" class="form-control" placeholder="Tag (Max - 1)" value="<%= proItem.tag %>">
                </div>
                <div>
                    <label>Feature Image</label>
                    <img class="feature-img-show" src="<%= proItem.img %>" alt="">
                    <input id="feature_img_field" type="file" name="product_img" class="form-control" style="display: none;">
                </div>
                <div>
                    <button class="btn btn-success w-100 my-3">Add Product</button>
                </div>
            </form>
        </div>
    </div>

</div>


    <script>


        // dashboard
        let btn = document.querySelector('#btn');
        let dashboard_sidebar = document.querySelector('.dashboard_sidebar');
        let searchBtn = document.querySelector('.bx-search');

        btn.onclick = function() {
            dashboard_sidebar.classList.toggle('active');
        }
        searchBtn.onclick = function() {
            dashboard_sidebar.classList.toggle('active');
        }
    </script>